
:root {
  --primary-color: #d1d2d4;
  --secondary-color: #95999c;
  --background-color: #08121b;
}

/* Estilos para el item seleccionado */
.ant-menu-item-selected {
  background-color: var(--secondary-color) !important;
  color: var(--background-color) !important;
}

/* Estilos para el botón al hacer hover */
.custom-button:hover {
  background-color: var(--secondary-color) !important;
  color: white !important;
}

/* Estilos del Card */
.custom-card-head .ant-card-head {
  background-color: var(--primary-color);
  color: var(--quaternary-color);
  text-align: center; 
}

.ant-card-body {
  width: 22vw;
}

/*  Estilos de tabla */
.ant-table-title {
  background-color: var(--primary-color);
  color: var(--quaternary-color);
  margin-top: 1.04vw;
}

.title-suma-total {
  background-color: var(--primary-color);
  color: var(--quaternary-color);
}

/* Estilos input */
.ant-form-item {
  margin-bottom: 0.5vw;
}
