
:root {
  --primary-color: #d1d2d4;
  --secondary-color: #95999c;
  --purple-color: #874089;
  --purple-dark-color: #3b1c3c;
  --green-color: #22c55e;
  --background-color: #08121b;
}

/* Estilos para el item seleccionado */
.ant-menu-item-selected {
  background-color: var(--secondary-color) !important;
  color: var(--background-color) !important;
}

.custom-disabled-button.ant-btn[disabled], .custom-disabled-input.ant-input[disabled]  {
  background-color: var(--purple-color) !important; 
  color: white !important; 
  border-color: var(--purple-color) !important;
}

/* Estilos para el botón al hacer hover */
.custom-button:hover {
  background-color: var(--secondary-color) !important;
  color: white !important;
}

/* Estilos del Card */
.custom-card-head .ant-card-head, .ant-table-title {
  background-color: var(--purple-color) !important;
  border-color: var(--purple-color) !important;
  color: var(--quaternary-color);
  text-align: center; 
}

.ant-card-body {
  width: 22vw;
}

.title-suma-total {
  background-color: var(--primary-color);
  color: var(--quaternary-color);
}

/* Estilos input */
input[type="file"]::file-selector-button {
  background-color: var(--purple-color); 
  color: white; 
  border: none;
  padding: 8px 16px; 
  border-radius: 5px; 
  font-size: 12px;
  cursor: pointer; 
}

/* Sobrescribir el color de la pestaña activa */
.ant-tabs .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
  color: var(--purple-color); 
}

.ant-form-item {
  margin-bottom: 0.5vw;
}
